/* 1. Div digunakan untuk pengelompokkan konten yang banyak sedangkan span digunakan untuk pengelompokkan skala kecil seperti kata atau kalimat saja */

:root {
	--bg: #0f0e0e;
	--primary: #eceedf;
	--hover: #443627;
	--secondary: #f5fae1;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
	width: 12px;
}
::-webkit-scrollbar-track {
	background: #0f0e0e;
}
::-webkit-scrollbar-thumb {
	background: #443627;
	border-radius: 6px;
	border: 3px solid #0f0e0e;
}
::-webkit-scrollbar-thumb:hover {
	background: #eceedf;
}

/* Preloader */
#preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #0f0e0e;
	z-index: 9999;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: opacity 0.5s ease-out;
}
.loader {
	display: flex;
	gap: 10px;
	margin-bottom: 20px;
}
.bar {
	width: 10px;
	height: 40px;
	background: var(--secondary);
	animation: loading 1s ease-in-out infinite;
}
.bar:nth-child(2) {
	animation-delay: 0.1s;
}
.bar:nth-child(3) {
	animation-delay: 0.2s;
}
.loading-text {
	font-family: "Outfit", sans-serif;
	color: var(--secondary);
	letter-spacing: 5px;
	font-size: 1.2rem;
	animation: blink 2s infinite;
}
@keyframes loading {
	0%,
	100% {
		transform: scaleY(1);
	}
	50% {
		transform: scaleY(2);
	}
}
@keyframes blink {
	0%,
	100% {
		opacity: 0.5;
	}
	50% {
		opacity: 1;
	}
}
.loaded {
	opacity: 0;
	pointer-events: none;
}

body {
	font-family: "Outfit", sans-serif;
	line-height: 1.8;
	background: var(--bg);
	min-height: 100vh;
	overflow-x: hidden;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

.navbar {
	position: sticky !important;
	z-index: 1000;
	left: 0;
	right: 0;
	top: 0;
	/* padding: 14px; */
	display: block;
	justify-content: space-between;
	background: rgba(15, 14, 14, 0.8);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	/* border-bottom: 1px solid var(--primary); */
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar-menu {
	padding-top: 1.4rem;
	padding: 14px 3%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#sidebar {
	display: none;
}

.logo {
	font-family: "Outfit";
	font-size: 1.3rem;
	font-weight: 900;
}

.logo a {
	color: var(--primary);
}

.logo a:hover {
	color: var(--hover);
	transition: 0.2s linear;
}

.logo a span:hover {
	color: var(--primary);
	transition: 0.2s linear;
}

.nav-links a {
	font-size: 1.1rem;
	color: var(--primary);
	margin-right: 30px;
}

.nav-links a:hover {
	color: var(--hover);
	transition: 0.2s linear;
}

.nav-items {
	font-weight: 900;
}

.cart-badge {
	position: absolute;
	top: -8px;
	right: -8px;
	background: red;
	color: #fff;
	font-size: 12px;
	font-weight: 900;
	border-radius: 50%;
	padding: 2px 6px;
	display: none;
}

.nav-items a {
	color: var(--primary);
	margin-right: 10px;
}

.nav-items a:hover {
	color: var(--hover);
	transition: 0.2s linear;
}

.sliding-banner {
	background: var(--primary) !important;
	color: var(--bg) !important;
	padding: 10px 0;
	overflow: hidden;
	width: 100%;
	position: sticky;
	font-size: 13px;
	font-weight: 900;
	z-index: 999;
	font-family: "Work Sans", "Nunito Sans", system-ui, sans-serif !important;
	letter-spacing: 0.2px;
}

.banner-content {
	display: flex;
	white-space: nowrap;
	animation: slide 30s linear infinite;
	font-family: "Work Sans", "Nunito Sans", system-ui, sans-serif !important;
}

.banner-item {
	padding: 0 80px;
	display: inline-block;
	text-align: center;
	min-width: 350px;
	font-size: 13px !important;
	font-family: "Work Sans", "Nunito Sans", system-ui, sans-serif !important;
	font-weight: 400 !important;
	letter-spacing: 0.5px;
	text-transform: uppercase;
}

@keyframes slide {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(-100%);
	}
}

.banner-content:hover {
	animation-play-state: paused;
}

@media (max-width: 768px) {
	.banner-item {
		min-width: 280px;
		padding: 0 40px;
		font-size: 11px !important;
		font-family: "Work Sans", "Nunito Sans", system-ui, sans-serif !important;
		letter-spacing: 0.3px;
		font-weight: 400 !important;
	}

	.sliding-banner {
		font-size: 11px;
		padding: 8px 0;
	}
}

.cart-icon {
	position: relative;
	display: inline-block;
}

.cart-sidebar {
	position: absolute;
	top: 100%;
	mix-blend-mode: difference;
	right: -100%;
	width: 350px;
	max-height: 80vh;
	background: #fff;
	box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
	transition: right 0.3s ease;
	border-bottom-left-radius: 10px;
	z-index: 999;
	/* overflow: visible; */
	/* display: flex;
	display: none; */
	flex-direction: column;
	border-left: 2px solid #f0f0f0;
	overflow: hidden;
}

.cart-sidebar.active {
	right: 0;
}

.cart-header {
	padding: 15px;
	background: var(--bg);
	color: var(--primary);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.close-cart {
	background: none;
	border: none;
	font-size: 22px;
	color: #fff;
	cursor: pointer;
}

.cart-items {
	flex: 1;
	overflow-y: auto;
	padding: 10px;
	max-height: 60vh;
}

.cart-item {
	display: flex;
	align-items: center;
	gap: 10px;
	border-bottom: 1px solid #ddd;
	padding: 10px 0;
}

.cart-item img {
	width: 60px;
	height: 60px;
	object-fit: cover;
	border-radius: 6px;
}

.cart-item-details {
	flex: 1;
}

.cart-item-details h4 {
	font-size: 16px;
	font-weight: 600;
	margin: 0 0 5px 0;
}

.cart-item-details .price {
	color: var(--bg);
	font-size: 15px;
	font-weight: 500;
}

.quantity-controls {
	display: flex;
	align-items: center;
	gap: 5px;
	margin-top: 5px;
}

.quantity-controls button {
	width: 25px;
	height: 25px;
	background: var(--primary);
	border: none;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
}

.remove-item {
	color: red;
	cursor: pointer;
	font-size: 14px;
	border: none;
	background: none;
	margin-top: 5px;
}

.cart-footer {
	padding: 15px;
	border-top: 1px solid #ddd;
}

.checkout-btn {
	width: 100%;
	padding: 10px;
	background: var(--bg);
	color: white;
	border: none;
	cursor: pointer;
	font-size: 16px;
	border-radius: 4px;
	transition: 0.3s linear;
}

.checkout-btn:hover {
	background: var(--hover);
	transform: translateY(-2px);
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.empty-msg {
	text-align: center;
	color: #888;
	margin-top: 20px;
}

/* Badge Keranjang */
.cart-icon {
	position: relative;
	display: inline-block;
}

.cart-badge {
	position: absolute;
	top: -8px;
	right: -8px;
	background: red;
	color: white;
	font-size: 12px;
	font-weight: bold;
	border-radius: 50%;
	padding: 2px 6px;
	display: none;
}

/* Hero */
.hero {
	background: var(--bg);
	background-image: url(/assets/bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	mix-blend-mode: difference;
	background-attachment: fixed;
	opacity: 0.4;
	border-bottom-left-radius: 30%;
	border-bottom-right-radius: 30%;
	box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
	position: relative;
	z-index: 5;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

#particles-js {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

.hero::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: var(--bg);
	opacity: 0.7;
}

.hero > .container {
	position: relative;
	z-index: 2;
}

.hero h1 {
	font-family: "Outfit";
	font-size: 3.5rem;
	font-weight: 700;
	/* margin-bottom: 3px; */
	color: var(--secondary);
	letter-spacing: 0.8rem;
	text-shadow: 0 0 20px rgba(245, 250, 225, 0.3);
}

.hero p {
	font-size: 1rem;
	font-family: "Inter";
	letter-spacing: 0.1rem;
	color: var(--secondary);
	margin-bottom: 30px;
	font-weight: 200;
}

.btn {
	font-family: "Inter";
	display: inline-block;
	font-size: 0.9rem;
	background: var(--primary);
	color: var(--bg);
	padding: 13px 20px;
	text-decoration: none;
	font-weight: 500;
	letter-spacing: 2px;
	text-transform: uppercase;
	transition: 0.3s linear;
	z-index: 2;
}

.btn:hover {
	background: var(--bg);
	color: var(--primary);
	transform: translateY(-3px);
	box-shadow: 0 0 20px rgba(236, 238, 223, 0.6);
}

.btn:active {
	transform: scale(0.95);
	box-shadow: 0 0 10px rgba(236, 238, 223, 0.4);
}

.btn-outline {
	/* background: transparent; */
	font-weight: 700;
	color: var(--bg);
	border: 1px solid #222;
}

.btn-outline:hover {
	background: #222;
	color: white;
}

.btn-outline:active {
	transform: scale(0.95);
}

/* Products */
.products {
	padding: 10rem 0;
	background: var(--bg);
}

.products .container {
	background: var(--bg);
}

.section-title {
	color: var(--primary);
	text-align: center;
	font-size: 2.5rem;
	font-weight: 300;
	margin-bottom: 60px;
	letter-spacing: -1px;
}

.product-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 40px;
}

.product {
	text-align: center;
	padding: 30px;
	background: var(--primary);
	transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	border-radius: 12px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
	position: relative;
	overflow: hidden;
}

.product:hover {
	transform: translateY(-10px);
	box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}
.product::before {
	content: "";
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background: linear-gradient(
		90deg,
		transparent,
		rgba(255, 255, 255, 0.4),
		transparent
	);
	transition: 0.5s;
}
.product:hover::before {
	left: 100%;
}

.product-img {
	width: 100%;
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
	border-radius: 4px;
	overflow: hidden;
}

.product h3 {
	font-size: 1.6rem;
	color: var(--bg);
	font-weight: 600;
	margin-bottom: 5px;
}

.product-price {
	font-size: 1.3rem;
	color: var(--bg);
	margin-bottom: 15px;
	font-weight: 700;
}

.product p {
	font-family: "Outfit";
	letter-spacing: 0.5px;
	color: var(--bg);
	font-size: 1.05rem;
	line-height: 1.5;
	margin-bottom: 25px;
}

/* About */
.about {
	padding: 10rem 0;
	background: linear-gradient(to bottom, #0f0e0e 0%, #1a1a1a 100%);
	text-align: center;
	position: relative;
}

.about h2 {
	font-size: 3rem;
	margin-bottom: 25px;
	font-weight: 600;
	letter-spacing: 0.2rem;
	font-family: "Outfit";
}

.about p {
	font-size: 1.5rem;
	font-style: italic;
	color: var(--primary);
	font-weight: 300;
	margin-bottom: 30px;
	line-height: 2;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}
.about-content {
	max-width: 700px;
	margin: 0 auto;
	position: relative;
	z-index: 2;
}

/* Footer */
footer {
	background: #222;
	color: white;
	padding: 60px 0 30px;
}

.footer-content {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 40px;
	margin-bottom: 30px;
}

.footer h3 {
	font-weight: 300;
	color: var(--primary);
	margin-bottom: 11px;
	letter-spacing: 1px;
}

.footer .footer-content p {
	color: var(--primary);
	font-weight: 100;
}

.footer-bottom {
	text-align: center;
	padding-top: 20px;
	border-top: 1px solid var(--secondary);
	color: var(--primary);
}

@media (max-width: 1200px) {
	.hero {
		border-bottom-left-radius: 30;
		border-bottom-left-radius: 30;
	}
}

@media (max-width: 768px) {
	.hero {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 30;
		background-attachment: local;
	}

	#sidebar {
		display: inline-block;
	}

	.nav-links {
		position: fixed;
		padding-top: 10px;
		background-color: var(--bg);
		right: -100%;
		top: 74px;
		height: 100vh;
		bottom: 0;
		width: 70%;
		display: block;
		z-index: 100;
		transition: 0.3s linear;
	}

	.nav-links.active {
		right: 0;
	}

	.nav-links a {
		display: block;
		margin: 15px;
	}

	.hero h1 {
		font-size: 2.5rem;
	}
	.hero p {
		font-size: 1rem;
	}
	.section-title {
		font-size: 2rem;
	}

	/* .product-grid {
		grid-template-columns: 1fr;
	} */
}

@media (max-width: 600px) {
	.hero {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}

	.product {
		margin: 20px;
	}

	.product-grid {
		grid-template-columns: auto;
	}
}

/* Modal Styles */
.modal {
	display: none;
	position: fixed;
	z-index: 2000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(5px);
}

.modal.active {
	display: flex;
	align-items: flex-start; /* Fix cut-off on tall screens */
	padding-top: 50px;
	padding-bottom: 50px;
	overflow-y: auto; /* Scroll the wrapper */
}

/* Scrollbar for modal wrapper */
.modal::-webkit-scrollbar {
	width: 8px;
}
.modal::-webkit-scrollbar-track {
	background: transparent;
}
.modal::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 4px;
}

.modal-content {
	background-color: #fff;
	padding: 30px;
	border-radius: 12px;
	width: 90%;
	max-width: 550px;
	margin: auto; /* Center horizontally */
	position: relative;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
	animation: slideUp 0.3s ease;
	color: #222;
}

@keyframes slideUp {
	from {
		transform: translateY(20px);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

.close-modal {
	position: absolute;
	top: 15px;
	right: 20px;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
	color: #888;
	transition: 0.2s;
	z-index: 10;
}

.close-modal:hover {
	color: #000;
}

.modal-content h2 {
	font-family: "Outfit", sans-serif;
	color: #222;
	margin-bottom: 15px;
	font-size: 1.8rem;
	padding-right: 30px; /* Space for close button */
}

.form-group {
	margin-bottom: 20px;
}

.form-group label {
	display: block;
	margin-bottom: 8px;
	font-weight: 600;
	font-size: 0.9rem;
	color: #444;
}

.form-group input,
.form-group textarea,
.form-group select {
	width: 100%;
	padding: 12px;
	border: 1px solid #ddd;
	border-radius: 6px;
	font-family: inherit;
	font-size: 0.95rem;
	transition: 0.3s;
}

.form-group input:focus,
.form-group textarea:focus,
.form-group select:focus {
	outline: none;
	border-color: #443627;
	box-shadow: 0 0 0 2px rgba(68, 54, 39, 0.1);
}

/* Payment Options */
.payment-options {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 15px;
	margin-bottom: 20px;
}

@media (max-width: 500px) {
	.payment-options {
		grid-template-columns: 1fr; /* Stack vertically on small screens */
	}
}

.payment-card {
	border: 2px solid #eee;
	padding: 15px;
	border-radius: 8px;
	cursor: pointer;
	transition: all 0.2s ease;
	display: flex;
	align-items: center;
	gap: 10px;
}

.payment-card:hover {
	border-color: #aaa;
}

.payment-card.selected {
	border-color: #28a745;
	background-color: #f0fff4;
}

.payment-card input[type="radio"] {
	display: none; /* Hide default radio */
}

.payment-card label {
	margin: 0 !important;
	color: #333 !important;
	font-size: 0.9rem;
}

.payment-details {
	padding: 15px;
	background: #f8f9fa;
	border-left: 4px solid #28a745;
	margin-bottom: 20px;
	font-size: 0.9rem;
	display: none; /* Hidden by default */
}

.payment-details p {
	margin: 0;
	color: #444;
}

.payment-details strong {
	color: #000;
}

/* Footer Section */
.checkout-footer {
	display: flex;
	flex-direction: column;
	gap: 15px;
	margin-top: 20px;
	border-top: 1px solid #eee;
	padding-top: 20px;
}

.checkout-summary {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #f8f9fa;
	padding: 15px;
	border-radius: 8px;
	border: 1px solid #eee;
	font-weight: bold;
}

.checkout-summary span:first-child {
	color: #555;
	font-size: 1rem;
}

#modal-total {
	color: #28a745;
	font-size: 1.3rem;
}

.submit-btn {
	width: 100%;
	padding: 14px;
	font-size: 1rem;
	letter-spacing: 1px;
}
